<a href="https://colab.research.google.com/github/GeorgeSherif/ChatEGP/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import nltk
import spacy 
import pandas as pd

from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.porter import *

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df = pd.read_csv("/content/drive/My Drive/all-data.csv",encoding = "ISO-8859-1")

In [5]:
headerList = ['label', 'sentence']
  
# converting data frame to csv
df.to_csv("/content/drive/My Drive/all-data.csv", header=headerList, index=False)

In [6]:
file2 = pd.read_csv("/content/drive/My Drive/all-data.csv")

In [7]:
file2.head()

      label                                           sentence
0   neutral  Technopolis plans to develop in stages an area...
1  negative  The international electronic industry company ...
2  positive  With the new production plant the company woul...
3  positive  According to the company 's updated strategy f...
4  positive  FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...

In [8]:
len(file2)

4845

In [9]:
tokens = []
for i in range(len(file2)):
  tokens.append(nltk.word_tokenize(file2['sentence'][i]))

In [10]:
file2['token'] = tokens

In [29]:
file2.head()

,label,sentence,token,stem,stop,punct,bertForm
0,neutral,Technopolis plans to develop in stages an area...,"[Technopolis, plans, to, develop, in, stages, ...","[technopoli, plan, to, develop, in, stage, an,...","[technopoli, plan, develop, stage, area, less,...","[technopoli, plan, develop, stage, area, less,...","technopoli plan develop stage area less 100,..."
1,negative,The international electronic industry company ...,"[The, international, electronic, industry, com...","[the, intern, electron, industri, compani, elc...","[intern, electron, industri, compani, elcoteq,...","[intern, electron, industri, compani, elcoteq,...",intern electron industri compani elcoteq ha ...
2,positive,With the new production plant the company woul...,"[With, the, new, production, plant, the, compa...","[with, the, new, product, plant, the, compani,...","[new, product, plant, compani, would, increas,...","[new, product, plant, compani, would, increas,...",new product plant compani would increas capa...
3,positive,According to the company 's updated strategy f...,"[According, to, the, company, 's, updated, str...","[accord, to, the, compani, 's, updat, strategi...","[accord, compani, 's, updat, strategi, year, 2...","[accord, compani, 's, updat, strategi, year, 2...",accord compani 's updat strategi year 2009-2...
4,positive,FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...,"[FINANCING, OF, ASPOCOMP, 'S, GROWTH, Aspocomp...","[financ, of, aspocomp, 's, growth, aspocomp, i...","[financ, aspocomp, 's, growth, aspocomp, aggre...","[financ, aspocomp, 's, growth, aspocomp, aggre...",financ aspocomp 's growth aspocomp aggress p...

In [12]:
p_stemmer = PorterStemmer()
stemmed = []

for i in range(len(file2)):
  nltk_tokenList = word_tokenize(file2['sentence'][i]) 
  nltk_stemedList = []
  for word in nltk_tokenList:
     nltk_stemedList.append(p_stemmer.stem(word))
  stemmed.append(nltk_stemedList)

In [13]:
file2['stem'] = stemmed

In [15]:
nltk_stop_words = set(stopwords.words('english'))
stopRemoved = []
# print(nltk_stop_words)
for i in range(len(file2)):
  filtered_sentence =[]
  for w in file2['stem'][i]:  
    if w not in nltk_stop_words:  
        filtered_sentence.append(w)  
  stopRemoved.append(filtered_sentence)

In [16]:
file2['stop'] = stopRemoved

In [18]:
punctRem = []
punctuations="?:!.,;"
for i in range(len(file2)):
   removedPuncForSentence = []
   for word in file2['stop'][i]:
      if word not in punctuations:
          removedPuncForSentence.append(word)
   punctRem.append(removedPuncForSentence)

In [19]:
file2['punct'] = punctRem

In [21]:
print(file2['sentence'][0])

Technopolis plans to develop in stages an area of no less than 100,000 square meters in order to host companies working in computer technologies and telecommunications , the statement said .

In [22]:
print(file2['punct'][0])

['technopoli', 'plan', 'develop', 'stage', 'area', 'less', '100,000', 'squar', 'meter', 'order', 'host', 'compani', 'work', 'comput', 'technolog', 'telecommun', 'statement', 'said']

In [27]:
finalizedForm = []
for i in range(len(file2)):
  concatStr = ' '
  for j in range(len(file2['punct'][i])):
      concatStr += ' ' + file2['punct'][i][j]
  finalizedForm.append(concatStr)

In [28]:
file2['bertForm'] = finalizedForm