<a href="https://colab.research.google.com/github/GeorgeSherif/NLP-ChatEGP/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
import spacy 
import pandas as pd

from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.porter import *

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [49]:
#df = pd.read_csv("/content/drive/My Drive/all-data.csv",encoding = "ISO-8859-1")
df = pd.read_csv('/content/gdrive/MyDrive/NLP/English Dataset.csv' ,engine="python", encoding = "ISO-8859-1")

In [50]:
headerList = ['label', 'sentence']
  
# converting data frame to csv
df.to_csv("/content/gdrive/My Drive/Preprocessed.csv", header=headerList, index=False)

In [51]:
file2 = pd.read_csv("/content/gdrive/My Drive/Preprocessed.csv")

In [52]:
file2.head()

      label                                           sentence
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [29]:
len(file2)

4846

In [53]:
tokens = []
for i in range(len(file2)):
  tokens.append(nltk.word_tokenize(file2['sentence'][i]))

In [54]:
file2['token'] = tokens

In [55]:
file2.head()

,label,sentence,token
0,neutral,"According to Gran , the company has no plans t...","[According, to, Gran, ,, the, company, has, no..."
1,neutral,Technopolis plans to develop in stages an area...,"[Technopolis, plans, to, develop, in, stages, ..."
2,negative,The international electronic industry company ...,"[The, international, electronic, industry, com..."
3,positive,With the new production plant the company woul...,"[With, the, new, production, plant, the, compa..."
4,positive,According to the company 's updated strategy f...,"[According, to, the, company, 's, updated, str..."

In [ ]:
p_stemmer = PorterStemmer()
stemmed = []

for i in range(len(file2)):
  nltk_tokenList = word_tokenize(file2['sentence'][i]) 
  nltk_stemedList = []
  for word in nltk_tokenList:
     nltk_stemedList.append(p_stemmer.stem(word))
  stemmed.append(nltk_stemedList)

In [ ]:
lemma_list = []
for i in range(len(file2)):
    lem=[]
    for part in file2['token'][i]:
        lem.append(part.lemma_)
    lemma_list.append(lem)

AttributeError: ignored

In [ ]:
lemmatizer = WordNetLemmatizer()
lem = []

for i in range(len(file2)):
  nltk_tokenList = word_tokenize(file2['sentence'][i]) 
  nltk_lemList = []
  for word in nltk_tokenList:
     nltk_lemList.append(lemmatizer.lemmatize(word))
  lem.append(nltk_lemList)

In [ ]:
file2['lem'] = lem

In [ ]:
print(file2['lem'][2])
print(file2['token'][2])

['With', 'the', 'new', 'production', 'plant', 'the', 'company', 'would', 'increase', 'it', 'capacity', 'to', 'meet', 'the', 'expected', 'increase', 'in', 'demand', 'and', 'would', 'improve', 'the', 'use', 'of', 'raw', 'material', 'and', 'therefore', 'increase', 'the', 'production', 'profitability', '.']
['With', 'the', 'new', 'production', 'plant', 'the', 'company', 'would', 'increase', 'its', 'capacity', 'to', 'meet', 'the', 'expected', 'increase', 'in', 'demand', 'and', 'would', 'improve', 'the', 'use', 'of', 'raw', 'materials', 'and', 'therefore', 'increase', 'the', 'production', 'profitability', '.']

In [56]:
nltk_stop_words = set(stopwords.words('english'))
stopRemoved = []
# print(nltk_stop_words)
for i in range(len(file2)):
  filtered_sentence =[]
  for w in file2['token'][i]:  
    if w not in nltk_stop_words:  
        filtered_sentence.append(w)  
  stopRemoved.append(filtered_sentence)

In [57]:
file2['stop'] = stopRemoved

In [58]:
punctRem = []
punctuations="?:!.,;"
for i in range(len(file2)):
   removedPuncForSentence = []
   for word in file2['stop'][i]:
      if word not in punctuations:
          removedPuncForSentence.append(word)
   punctRem.append(removedPuncForSentence)

In [59]:
file2['punct'] = punctRem

In [37]:
print(file2['sentence'][0])

According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing .

In [38]:
print(file2['punct'][0])

['According', 'Gran', 'company', 'plans', 'move', 'production', 'Russia', 'although', 'company', 'growing']

In [60]:
finalizedForm = []
for i in range(len(file2)):
  concatStr = ' '
  for j in range(len(file2['punct'][i])):
      concatStr += ' ' + file2['punct'][i][j]
  finalizedForm.append(concatStr)

In [61]:
file2['bertForm'] = finalizedForm

In [41]:
file2

,label,sentence,token,stop,punct,bertForm
0,neutral,"According to Gran , the company has no plans t...","[According, to, Gran, ,, the, company, has, no...","[According, Gran, ,, company, plans, move, pro...","[According, Gran, company, plans, move, produc...",According Gran company plans move production...
1,neutral,Technopolis plans to develop in stages an area...,"[Technopolis, plans, to, develop, in, stages, ...","[Technopolis, plans, develop, stages, area, le...","[Technopolis, plans, develop, stages, area, le...",Technopolis plans develop stages area less 1...
2,negative,The international electronic industry company ...,"[The, international, electronic, industry, com...","[The, international, electronic, industry, com...","[The, international, electronic, industry, com...",The international electronic industry compan...
3,positive,With the new production plant the company woul...,"[With, the, new, production, plant, the, compa...","[With, new, production, plant, company, would,...","[With, new, production, plant, company, would,...",With new production plant company would incr...
4,positive,According to the company 's updated strategy f...,"[According, to, the, company, 's, updated, str...","[According, company, 's, updated, strategy, ye...","[According, company, 's, updated, strategy, ye...",According company 's updated strategy years ...
...,...,...,...,...,...,...
4841,negative,LONDON MarketWatch -- Share prices ended lower...,"[LONDON, MarketWatch, --, Share, prices, ended...","[LONDON, MarketWatch, --, Share, prices, ended...","[LONDON, MarketWatch, --, Share, prices, ended...",LONDON MarketWatch -- Share prices ended low...
4842,neutral,Rinkuskiai 's beer sales fell by 6.5 per cent ...,"[Rinkuskiai, 's, beer, sales, fell, by, 6.5, p...","[Rinkuskiai, 's, beer, sales, fell, 6.5, per, ...","[Rinkuskiai, 's, beer, sales, fell, 6.5, per, ...",Rinkuskiai 's beer sales fell 6.5 per cent 4...
4843,negative,Operating profit fell to EUR 35.4 mn from EUR ...,"[Operating, profit, fell, to, EUR, 35.4, mn, f...","[Operating, profit, fell, EUR, 35.4, mn, EUR, ...","[Operating, profit, fell, EUR, 35.4, mn, EUR, ...",Operating profit fell EUR 35.4 mn EUR 68.8 m...
4844,negative,Net sales of the Paper segment decreased to EU...,"[Net, sales, of, the, Paper, segment, decrease...","[Net, sales, Paper, segment, decreased, EUR, 2...","[Net, sales, Paper, segment, decreased, EUR, 2...",Net sales Paper segment decreased EUR 221.6 ...
4845,negative,Sales in Finland decreased by 10.5 % in Januar...,"[Sales, in, Finland, decreased, by, 10.5, %, i...","[Sales, Finland, decreased, 10.5, %, January, ...","[Sales, Finland, decreased, 10.5, %, January, ...",Sales Finland decreased 10.5 % January sales...

In [62]:
file2 = file2.drop(["sentence","token", "stop",	"punct"], axis = 1)
file2 = file2.rename(columns={"label":"Sentiment", "bertForm": "Sentence"})

In [63]:
file2

     Sentiment                                           Sentence
0      neutral    According Gran company plans move production...
1      neutral    Technopolis plans develop stages area less 1...
2     negative    The international electronic industry compan...
3     positive    With new production plant company would incr...
4     positive    According company 's updated strategy years ...
...        ...                                                ...
4841  negative    LONDON MarketWatch -- Share prices ended low...
4842   neutral    Rinkuskiai 's beer sales fell 6.5 per cent 4...
4843  negative    Operating profit fell EUR 35.4 mn EUR 68.8 m...
4844  negative    Net sales Paper segment decreased EUR 221.6 ...
4845  negative    Sales Finland decreased 10.5 % January sales...

[4846 rows x 2 columns]

In [64]:
file_path = '/content/gdrive/MyDrive/NLP/Preprocessed.csv'
file2.to_csv(file_path, index=False)